// Paletas de colores básica

//Colores generales
$color-background: white;
$color-base: black;
$black-screen: true;


//Colores barra de menú
$navbar-background-color: #9b6f91;
$navbar-color-hover: #ffffff;


//Colores del borde 
$border-color: $color-base;

/*Estilos para el contenedor general de mi página*/
$main-container-width: 100%;

.container {
    width: $main-container-width;
    margin: 0 auto;
}


//Estilos para los bordes
$border-width:0.1rem;
$border-style: solid;

$border-radius: 1rem;
$boder-radius-big: 1.5rem;

@mixin main-display {
    display: inline-block;
}

/*Usando anidamiento crear la hoja de estilos para un menú */
.myspecial {
    color: $navbar-color-hover;
}

nav {
    @if $black-screen == true {
        background-color: $navbar-background-color;
    }

    padding: 0.2rem;

    ul {
        li {
            @include main-display;
            padding-left: 1rem;
            padding-right: 1rem;

            &.active {
                @extend .myspecial;
                font-weight: bold;
            }

            &:hover {
                @extend .myspecial;
            }


            a {
                text-decoration: none
            }

        }
    }
}

/*Estructura de anidamiento para la figura (cards)*/
$figure-width: 25%;
$variable-rem: 0;

figure.card {
    border: $border-width #{$border-style} $border-color;
    border-radius: $border-radius;
    display: inline-block;
    @while($variable-rem == 0){
        $variable-rem: $variable-rem + 1;
        padding: #{$variable-rem}rem;
    }
    
    width: $figure-width;
    img {
        @each $element, $value in ('border-radius': 25px, 'width': 100%){
            #{$element}: #{$value};
        }
    }

    figcaption {
        font-size: 0.8rem;
        margin: 0.5rem;
        text-align: center;
    }
}

