#main {
    padding-bottom: 4px;
    padding-top: 4px;
}

#green {
    background-color: green;
    height: 40px;
}
#red {
    background-color: red;
    height: 300px;
}

#pinkf {
    padding-bottom: 4px;
}

#pink {
    background-color: pink;
    height: 40px;
    padding-bottom: 2px;
    padding-top: 2px;
}

#orange {
    background-color: orange;
    border: 1px solid white;
    height: 100px;

}
#bluef {
    padding-top: 4px;
}

#blue {
    background-color: blue;
    height: 60px;
    border: 1px solid white;
    color: white;
}

#footer {
    background-color: green;
    height: 20px;
}