<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers shop</title>
    <link rel="stylesheet" href="view.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Baloo+Paaji+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <img src="img/Black and White Simple Modern Sportswear Logo.png" alt="LOGO">
        <ul>
            <li><a href="#"></a>Marcas</li>
            <li><a href="#"></a>Ofertas</li>
            <li><a href="#"></a>Usadas</li>
            <li><a href="#"></a>Nuevas</li>
            <li><a href="#"></a>Trending</li>
            <li><a href="#"></a>Subastas</li>
        </ul>
    </nav>
</body>
</html>